body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3dcdc;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgb(42, 74, 170); /* تعيين مظلة */
}

header ul li a {
    box-shadow: 0 4px 8px rgb(222, 191, 191); /* يمكنك تغيير القيم هنا */
    padding: 5px;
    display: inline-block;
}



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

.control-buttons {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
